<h1>New Category</h1>
  <%= link_to " log out", log_out_path %>
  <%= form_for @category do |f| %>
    <% if @category.errors.any? %>
       <div class="error_message">
       <ul>
          <% for message in @category.errors.full_messages %>
          <%= message %>
          <% end %>
       </ul>
       </div>
   <% end %>
   <p>
     <%= f.label :name %></br>
     <%= f.text_field :name %>
   </p>
   <p> 
    <%= f.label :parentcategory %><br /> 
    <%= f.select :parent_id, @parent_category, { :include_blank => true } %>
  </p
   <p class="button"><%= f.submit "create"%></p>
   <%= link_to "back", root_url %>
<% end %>
