<h1>Edit Category</h1>
 
<%= form_for @product do |f| %>
<% if @product.errors.any? %>
       <div class="error_message">
       <ul>
          <% for message in @product.errors.full_messages %>
          <%= message %>
          <% end %>
       </ul>
<% end %>
 <p>
     <%= f.label :name %></br>
     <%= f.text_field :name %>
   </p>
   <p>
     <%= f.label :description %></br>
     <%= f.text_area :description %>
   </p>
   <p>
     <%= f.label :price %></br>
     <%= f.text_field :price %>
   </p>
   <p>
     <%= f.label :weight %></br>
     <%= f.text_field :weight %>
   </p>
   <p> 
    <%= f.label :category %><br /> 
    <%= f.select :categories_id, @parent_category, { :include_blank => true } %>
  </p>
   <br />
   <%= link_to "back", products_path  %><br />

<%= f.submit "update" %>
<% end %>
